* {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

#footer-content {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 100px;
  background-color: rgb(26, 25, 25);
}

.footer-items {
  padding-left: 10px;
  max-height: 100px;

  display: flex;
  color: white;
}

.footer-items div {
  width: 33.3%;
  height: auto;
  font-size: 14px;
  /* padding: 20px; */
  margin: auto auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  /* border: 2px solid #000; */
}

.legal-pages li {
  display: inline-block;
  padding: 10px 3px;
  text-decoration: none;
}

.legal-page-item a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.legal-page-item:hover {
  background-color: green;
}
